/***************/
/* Central CSS */
/***************/

/* Area Chart */

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: hotpink;
}

.x.axis path {
  display: none;
}

/* Timeline */

text {
  font: 10px sans-serif;
}

.grid {
  stroke: rgb(240,240,240);
  stroke-width: 1;
}

.dots {
  fill: rgb(240,240,240);
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.y.axis text {
        font-family: sans-serif;
        font-size: 15px;
      }

.x.axis text {
        font-family: sans-serif;
        font-weight: bold;
      }

.x.axis path {
  display: none;
}